@model capaModelo.VistaInicioModelo
@{
    ViewBag.Title = Model.TituloPagina;
}

<h2>@Model.TituloPagina</h2>
<p>@Model.MensajeBienvenida</p>

<h3>Promociones Destacadas</h3>
<ul>
    @foreach (var promo in Model.PromocionesDestacadas)
    {
        <li>@promo</li>
    }
</ul>
